<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons>
            <ion-button slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-button>
            <ion-title>Crea tu lista</ion-title>
            <ion-button slot="end" [routerLink]="['/lista']">
                <ion-icon color="primary" slot="icon-only" name="bag-add-sharp"></ion-icon>
            </ion-button>
            <ion-button slot="end" [routerLink]="['/perfil']">
                <ion-icon color="primary" slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngFor="let producto of productos">
        <app-producto [producto]=producto></app-producto>
    </div>

</ion-content>
<!-- <ion-searchbar animated (ionChange)="buscar( $event )"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let producto of productos | supermercado: textoBuscar ">
            <app-producto [producto]=producto></app-producto>
        </ion-item>
    </ion-list> -->
