<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-button>
                <ion-menu-button></ion-menu-button>
            </ion-button>
        </ion-buttons>
        <ion-title>Mi perfil</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-card>
            <ion-item *ngIf="infoIUser">
                <ion-label>
                    Nickname: {{infoIUser.nickname}}
                </ion-label>
                <ion-buttons slot="end">
                    <ion-button (click)="editAtributo('nickname')">
                        <ion-icon slot="end" name="create-outline"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-item>
        </ion-card>
        <ion-card>
            <ion-item *ngIf="infoIUser">
                <ion-label>
                    Foto perfil:
                </ion-label>
                <ion-buttons slot="end">
                    <ion-button (click)="saveFotoPerfil()">
                        <ion-icon margin="10px" slot="end" name="create-outline"></ion-icon>
                        <img class="image" [src]="infoIUser.fotoDePerfil">
                    </ion-button>
                </ion-buttons>
            </ion-item>
            <input (change)="newImageUpload($event)" id="file-upload" style="display: none" type="file" accept="image/*">
            <ion-button>
                <label for="file-upload">
            <ion-icon slot="icon-only" name="images"></ion-icon>
          </label>
            </ion-button>
            <div>
                <ion-label>Previsualizacion</ion-label>
                <img class="image" [src]="newImage">
            </div>
        </ion-card>
    </ion-list>
</ion-content>
