<ion-header>
    <ion-toolbar>
        <ion-title>Registro Usuario</ion-title>
        <ion-icon slot="start" button size="large" name="arrow-back-outline" routerLink="/home"></ion-icon>

    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-item lines="full" class="itemInput">
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="datos.correo" required></ion-input>
        </ion-item>
        <ion-item lines="full" class="itemInput">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="datos.password" required></ion-input>
        </ion-item>
        <ion-item lines="full" class="itemInput">
            <ion-label position="floating">Nickname</ion-label>
            <ion-input type="text" [(ngModel)]="datos.nickname"></ion-input>
        </ion-item>
        <ion-item lines="full" class="itemInput">
            <ion-label position="floating">Foto de usuario</ion-label>
            <ion-input type="text" [(ngModel)]="datos.fotoDePerfil"></ion-input>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-button type="submit" (click)="registrar()" expand="block">Registro</ion-button>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-col>
                <p>
                    <a routerLink="/login">¿Ya tienes una cuenta?</a>
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>