<ion-header>
    <ion-toolbar>
        <ion-title>Registro Usuario</ion-title>
        <ion-icon slot="start" button size="large" name="arrow-back-outline" routerLink="/home"></ion-icon>

    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <form #registroForm="ngForm" (ngSubmit)="registrar">
            <ion-item lines="full" class="itemInput">
                <ion-label position="floating">Email</ion-label>
                <ion-input [(ngModel)]="datos.correo" name="email" required appEmailDirective #emailModel="ngModel"></ion-input>
            </ion-item>
            <ion-item lines="full" class="itemInput">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" [(ngModel)]="datos.password" required name="password"></ion-input>
            </ion-item>
            <ion-item lines="full" class="itemInput">
                <ion-label position="floating">Nickname</ion-label>
                <ion-input type="text" [(ngModel)]="datos.nickname" name="nickname"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="normal">
                    Foto:
                </ion-label>
                <ion-buttons slot="end">
                    <ion-button>
                        <label for="file-upload">
      <ion-icon slot="icon-only" name="images"></ion-icon>
    </label>
                        <input (change)="newImageUpload($event)" id="file-upload" style="display: none" type="file" accept="image/*">
                    </ion-button>
                </ion-buttons>
                <div>
                    <ion-label>Previsualizacion</ion-label>
                    <img class="image" [src]="newImage">
                </div>

                <img class="image" [src]="datos.fotoDePerfil">
            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-button type="submit" (click)="registrar()" expand="block">Registro</ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-col>
                <p>
                    <a routerLink="/login">¿Ya tienes una cuenta?</a>
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>