<ion-header>
    <ion-toolbar>
        <ion-title>Registro Usuario</ion-title>
        <ion-icon button size="large" name="arrow-back-outline" routerLink="/home"></ion-icon>

    </ion-toolbar>
</ion-header>
<ion-content>
    <form>
        <ion-grid>
            <ion-item lines="full">
                <!--                 <ion-label position="floating">Email</ion-label>
 -->
                <p>Password</p><br>
                <input type="text" #email required ngModel="datos.correo"><input>
            </ion-item>
            <ion-item lines="full">
                <p>Password</p><br>
                <ion-input type="password" #password required ngModel="datos.password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Nickname</ion-label>
                <ion-input ngModel="datos.nickname"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Avatar</ion-label>
                <ion-input ngModel="datos.avatar"></ion-input>
            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-button type="submit" (click)="registrar()" expand="block">Registro</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <ion-grid>
        <ion-row>
            <ion-col>
                <p>
                    <a routerLink="/login">¿Ya tienes una cuenta?</a>
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
