<ion-card style="position: relative">

    <ion-img class="img-producto" [src]="producto.foto"></ion-img>
    <ion-item lines="full">
        <ion-label class="subtitulo">{{producto.nombre}}</ion-label>
    </ion-item>
    <p class="precio">Precio: {{producto.precio}} Euros</p>
    <p class="comentarios">{{producto.presentacion}}</p>
    <p class="comentarios"> {{producto.supermercado}}</p>
    <p class="comentarios"> {{producto.seccion}}</p>
    <ion-icon (click)="addLista()" class="icon-producto" name="bag-add-sharp"></ion-icon>
    <p class="comentarios" (click)="openModal()">
        Comentarios
        <ion-icon class="icon" name="chatbubble-ellipses-outline"></ion-icon>
    </p>
</ion-card>
