<ion-app>
    <ion-split-pane when="xl" contentId="main">
        <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
            <ion-header>
                <ion-toolbar color="tertiary">
                    <ion-buttons slot="end">
                        <ion-button (click)="closeMenu()">
                            <ion-icon slot="icon-only" name="close-sharp"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle>
                        <ion-item *ngIf="perfil === 'admin'" routerLink="/ajustes">
                            <ion-label>Ajustes</ion-label>
                            <ion-icon slot="end" name="settings-outline"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-item detail="true" *ngIf="login && perfil === 'usuario'" routerLink="/perfil">
                            <ion-label>Mi perfil</ion-label>
                            <ion-icon slot="exit-outline" name="apps"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-item *ngIf="login === false">
                            <ion-label>Login</ion-label>
                            <ion-icon name="log-in-outline" type="button" routerLink="/login"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-item *ngIf="login === false">
                            <ion-label>Register</ion-label>
                            <ion-icon name="accessibility-outline" type="button" routerLink="/registro"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-item *ngIf="login === true">
                            <ion-label>Productos</ion-label>
                            <ion-icon name="caret-down-sharp" type="button" routerLink="/set-productos"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-item *ngIf="login === true">
                            <ion-label>Supermercados</ion-label>
                            <ion-icon name="caret-down-sharp" type="button" routerLink="/set-supermercados"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-item *ngIf="login === true">
                            <ion-label>Añadir Lista compra</ion-label>
                            <ion-icon name="caret-down-sharp" type="button" routerLink="/lista-compra"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-item *ngIf="login === true">
                            <ion-label>Lista compra</ion-label>
                            <ion-icon name="caret-down-sharp" type="button" routerLink="/lista"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-item *ngIf="login === true">
                            <ion-label>Mis pedidos</ion-label>
                            <ion-icon name="file-tray-full-sharp" type="button" routerLink="/mislistas"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-item *ngIf="login === true">
                            <ion-label>Secciones</ion-label>
                            <ion-icon name="caret-down-sharp" type="button" routerLink="/set-secciones"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                        <ion-item detail="true" *ngIf="login === true" (click)="logout()">
                            <ion-label>Logout</ion-label>
                            <ion-icon slot="end" name="exit-outline" routerLink="/login"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main"></ion-router-outlet>
    </ion-split-pane>

</ion-app>
