<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-button>
                <ion-menu-button></ion-menu-button>
            </ion-button>
        </ion-buttons>
        <ion-title>Bienvenido a "Tú compra"</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-img id="myimg" [src]="img"></ion-img>
    <div id="container">
        <strong>La nueva App para organizar tu lista de la compra</strong>
    </div>
    <br>
</ion-content>