<ion-header>
    <ion-toolbar color="secondary">
        <ion-icon button size="large" name="arrow-back-outline" routerLink="/home"></ion-icon>
        <ion-title slot="end">Añade productos a tu lista </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div style="margin-top:35px; padding: 10px;">
        crear nuevo producto</div>
    <ion-card>
        <ion-item class="itemInput">
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="newProducto.nombre"></ion-input>
        </ion-item>
        <ion-item class="itemInput">
            <ion-label position="stacked">Precio</ion-label>
            <ion-input type="text" type="number" [(ngModel)]="newProducto.precio"></ion-input>
        </ion-item>
        <ion-item class="itemInput">
            <ion-label position="stacked">Descripcion</ion-label>
            <ion-input type="text" [(ngModel)]="newProducto.descripcion"></ion-input>
        </ion-item>
        <ion-item class="itemInput">
            <ion-label position="stacked">Presentacion</ion-label>
            <ion-input type="text" [(ngModel)]="newProducto.presentacion"></ion-input>
        </ion-item>
        <ion-item class="itemInput">
            <ion-label position="stacked">Foto</ion-label>
            <ion-input type="text" [(ngModel)]="newProducto.foto"></ion-input>
        </ion-item>
        <ion-item>
            <ion-buttons slot="end">
                <ion-label>Guardar</ion-label>
                <ion-button (click)="save()">
                    <ion-icon slot="icon-only" name="save-outline"></ion-icon>

                </ion-button>

            </ion-buttons>
        </ion-item>
    </ion-card>

</ion-content>
