.center-span {
    display: block;
    text-align: center;
}

#email {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(0, 116, 139);
    margin-bottom: 4%;
}

#password {
    margin-top: 4%;
}

.error {
    color: red;
    margin-top: 2px;
}
