<ion-header>
    <ion-toolbar color="secondary">
        <ion-icon button size="large" name="arrow-back-outline" routerLink="/home"></ion-icon>
        <ion-title slot="end">Login </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <ion-grid>
            <ion-item lines="full">
                <p>Email</p><br>
                <input type="text" #email required [(ngModel)]="credenciales.correo" name="first">
            </ion-item>
            <ion-item lines="full">
                <!--  <ion-label position="floating">Password</ion-label> -->
                <p>Password</p><br>
                <input type="password" #password required [(ngModel)]="credenciales.password" [ngModelOptions]="{standalone: true}">
            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-button (click)="login()" expand="block">Login</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p class="ion-text-end">
                        <a routerLink="/forgot-password">¿Olvidaste la contraseña?</a>
                    </p>
                </ion-col>
            </ion-row>
            <span class="center-span">Or</span>
            <ion-row>
                <ion-col>
                    <ion-button type="submit" color="warning" (click)="onLoginGoogle()" expand="block">Login con Google
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <ion-grid>
        <ion-row>
            <ion-col>
                <p class="ion-text-end">
                    <a routerLink="/registro">Crea una cuenta</a>
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
