<ion-header>
    <ion-toolbar color="secondary">
        <ion-icon button size="large" name="arrow-back-outline" routerLink="/home"></ion-icon>
        <ion-title slot="end">Login </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit">
            <ion-card>
                <div>
                    <label> Email </label>
                    <ion-input type="text" formControlName="email"></ion-input>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div class="error" *ngIf="email.errors.required">
                            Email requerido
                        </div>
                        <div class="error" *ngIf="email.errors.minlength">
                            Email debe tener 5 caracteres minimo
                        </div>
                        <div class="error" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
                            El email debe tener un formato correcto.
                        </div>
                    </div>
                </div>
            </ion-card>
            <div>
                <label> Password </label>
                <ion-input type="text" formControlName="password"></ion-input>
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div class="error" *ngIf="password.errors.required">
                        Contraseña requerida
                    </div>
                    <div class="error" *ngIf="password.errors.minlength">
                        Contraseña debe tener 6 caracteres minimo
                    </div>
                </div>
            </div>
            <div>
                <ion-col>
                    <ion-button type="submit" (click)="onSubmit()" expand="block" [disabled]="!loginForm.valid">Login</ion-button>
                </ion-col>
            </div>
        </form>
    </ion-card>
    <ion-row>
        <ion-col>
            <p class="ion-text-end">
                <a routerLink="/forgot-password">¿Olvidaste la contraseña?</a>
            </p>
        </ion-col>
    </ion-row>
    <span class="center-span">Or</span>
    <ion-row>
        <ion-col>
            <ion-button type="submit" color="warning" (click)="onLoginGoogle()" expand="block">Login con Google
            </ion-button>
        </ion-col>
    </ion-row>
    <form>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <p class="ion-text-end">
                        <a routerLink="/registro">Crea una cuenta</a>
                    </p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
